---
import "@fontsource-variable/inter";

import Header from "~/components/en/en-header.astro";
import Elrintro from "~/components/en/en-elrintro.astro";
import Faq from "~/components/en/en-elrfaq.astro";
import Map from "~/components/en/en-map.astro";
import Elrsplash from "~/components/en/en-elrsplash.astro";


import Propos from "~/components/propos.astro";
import Features from "~/components/features.astro";
import Footer2 from "~/components/footer3.astro";


import Beau from "~/components/plusbeau.astro";
import Portfolio from "~/components/portfolio.astro";
import Splash from "~/components/splash.astro";
import Contact from "~/components/contact2.astro";
import Cards from "~/components/cards.astro";
import Pricing from "~/components/Pricing.astro";
import About from "~/components/about.astro";
import Elrpropos from "~/components/elrpropos.astro";

import { Picture } from "@astrojs/image/components";
import Aboutimg from "~/assets/about-image.svg";



const widths = [450, 800]; // This represents the actual widths of the images
const sizes = "(min-width: 640px) 800px, 450px"; // This will select 800px width image when viewport is >= 640px and 450px width image otherwise.



import { getLangFromUrl } from '~/i18n/utils';
const lang = getLangFromUrl(Astro.url);

// import Booking from "~/components/squarebook.astro";
import "~/styles/index.css";

const { generator, site } = Astro;
const image = new URL("social.jpg", site);
const description =
  "Learn to know more about ELR Agency!";
---

<!doctype html>
<html lang={lang} class="h-full motion-safe:scroll-smooth" data-theme="dark">
  <head>
    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-TPW94QBF');</script>
  <!-- End Google Tag Manager -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <meta name="generator" content={generator} />
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"> -->
    

    <title>ELR Agency | The Best Allied Of SMEs</title>
    <meta name="description" content={description} />

    <!-- social media -->
    <meta property="og:title" content="Agence ELR" />
    <meta property="og:type" content="Consultants" />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />
    <meta property="og:url" content={site} />
    <meta name="twitter:card" content="summary_large_image" />

   <!-- initialize theme -->

</head>
  <body class="h-full overflow-x-hidden bg-default text-default text-base selection:bg-secondary selection:text-white">
    <Header />
    <Elrsplash />
    <section class="relative h-full">
      <div class="space-y-24 px-8 py-32">
        <Elrintro />
      </div>
      </section>
      <section class="hidden-on-small-br">
        <br><br><br><br><br><br><br><br><br><br>
      </section>

      <!-- ====== About Section Start -->
<section
id="about"
class="lg:pt-[120px] lg:pb-[120px]"
>
<div class="margin-box">
  <div class="">
    <div class="-mx-4 flex flex-wrap">
      <div class="w-full px-4">
        <div
          class="items-center justify-between overflow-hidden border lg:flex"
        >
          <div
            class="w-full py-12 px-7 sm:px-12 md:p-16 lg:max-w-[565px] lg:py-9 lg:px-16 xl:max-w-[640px] xl:p-[70px]"
          >
            <span
              class="mb-5 inline-block bg-primary py-2 px-5 text-sm font-medium text-white"
            >
              About
            </span>
            <h2
              class="mb-6 text-3xl font-bold gradient-text sm:text-4xl sm:leading-snug 2xl:text-[40px]"
            >
              ELR is the agency that focuses on small businesses
            </h2>
            <p class="mb-9 text-base leading-relaxed text-body-color">
              We offer complete solutions to allow all businesses to have a showcase on the web through a high-performance website that does its job by bringing you a larger customer base.           
             </p>
            <p class="mb-9 text-base leading-relaxed text-body-color">
              I help businesses accelerate their growth through strategic planning and cutting-edge web solutions. From creating high-performance websites to implementing marketing strategies that generate a good return on investment, my team and I have what you need.            </p>
            <a
              href="#contact"
              class="inline-flex items-center justify-center rounded bg-primary py-4 px-6 text-base font-medium text-white transition duration-300 ease-in-out hover:bg-opacity-90 hover:shadow-lg"
            >
              Start Now!
            </a>
          </div>
          <div class="text-center">
            <div class="relative z-10 inline-block">
               <Picture
                     class="mx-auto lg:ml-auto"
                     src={Aboutimg}
                     srcset={`${Aboutimg}`}
                     widths={widths}
                     sizes={sizes}
                     loading="eager"
                     alt="A propos de nous"
                 />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
<!-- ====== About Section End -->
      <section class="hidden-on-small-br">
        <br><br><br><br>
      </section>

      <Faq />
      <br><br>
      <section class="hidden-on-small-br">
        <br><br><br><br><br><br>
      </section>
      <!-- <Contact /> -->
      <Map />
      <Footer2 />
      

  </body>
</html>

<style>
  .hidden-on-small-br {
    display: none;
  }

  /* Using media query to show it only on small screens (below 768px in this example) */
  @media screen and (max-width: 767px) {
    .hidden-on-small-br {
      display: block; /* Or inline, inline-block, flex, etc., depending on your layout needs */
    }
  }
  .margin-box {
    margin: 20px;
  }
  
</style>