---
import "@fontsource-variable/inter";
// import "~/assets/js/script3";

import Propos from "~/components/propos.astro";
import Features from "~/components/features.astro";
import Footer2 from "~/components/footer4.astro";
import Header from "~/components/header.astro";
import Intro from "~/components/intro.astro";
import Testi from "~/components/testimony.astro";
import Map from "~/components/map2.astro";

import Beau from "~/components/plusbeau.astro";
import Portfolio from "~/components/portfolio.astro";
import Splash from "~/components/splash.astro";
import Card from "~/components/card.astro";
import Pricing from "~/components/Pricing.astro";
import About from "~/components/about2.astro";
import Banner from "~/components/banner.astro";



import { getLangFromUrl } from '~/i18n/utils';
const lang = getLangFromUrl(Astro.url);

import "~/styles/index.css";
// import "~/styles/animate.css";

const { generator, site } = Astro;
const image = new URL("social.jpg", site);
const description =
  "L'Agence web pour vous! Transformez votre PME avec une conception de site internet innovante. Élevez votre présence digitale et brillez sur la rive sud de Montréal!";
---

<!doctype html>
<html lang={lang} class="h-full motion-safe:scroll-smooth" data-theme="dark">
  <head>
    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-TPW94QBF');</script>
  <!-- End Google Tag Manager -->

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <meta name="generator" content={generator} />
    <!-- <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css'> -->

    <script  src="~/assets/js/burger.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <!-- <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script> -->
    <!-- <script src="~/assets/js/swiper.js"></script> -->
    <!-- <script src="~/assets/js/pricing.js"></script> -->
    


    <title>Agence ELR | L'Agence Web Spécialisée Dans La Conception Web Pour PME</title>
    <meta name="description" content={description} />

    <!-- social media -->
    <meta property="og:title" content="Agence ELR" />
    <meta property="og:type" content="L'agence web pour les PMEs" />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />
    <meta property="og:url" content={site} />
    <meta name="twitter:card" content="summary_large_image" />

   <!-- initialize theme -->
   <script is:inline>
    const themeSaved = localStorage.getItem("theme");

    if (themeSaved) {
      document.documentElement.dataset.theme = themeSaved;
    } else {
      const prefersDark = window.matchMedia(
        "(prefers-color-scheme: dark)",
      ).matches;
      document.documentElement.dataset.theme = prefersDark ? "dark" : "light";
    }

  </script>

</head>
  <body class="h-full overflow-x-hidden bg-default text-default text-base selection:bg-secondary selection:text-white">
  
    <Header />
    <Splash />
    <section class="relative h-full fadeIn">
      <div class="space-y-24 px-8 py-32">
        <Intro />
      </div>
      </section>
      <section class="hidden-on-small-br">
        <br><br><br>
      </section>
      <About />
      <br><br><br><br>
      <section class="hidden-on-small-br">
        <br><br><br> <br><br><br><br> <br><br><br><br> <br><br><br><br> <br><br><br><br> <br><br><br><br> <br><br><br><br> <br><br><br><br>
      </section>
      <Features />
      <br>
      <!-- <Cards /> -->
      <!-- <Banner /> -->
      <Propos />
      <!-- <Booking /> -->

      <Portfolio />
      <Testi />
      <Card />
      </div>
      <!-- <Pricing /> -->
      <Map />

      <Footer2 />

      <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>


      <!-- <script src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/8.4.5/swiper-bundle.min.js'></script> -->
      <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script> -->
      <!-- <script src="~/assets/js/script3.js"></script> -->


      <script src="~/assets/js/banner.js"></script>
      // AOS.init();
    </script>
    <script>
      import MicroModal from "micromodal";
      import invariant from "tiny-invariant";
    
      const menuModalId = "menu-modal";
    
      const header = document.querySelector("#page-header") as HTMLElement;
      const page = document.documentElement;
      const menu = document.querySelector(`#${menuModalId} ul`);
      const openNavButton = document.querySelector("#open-nav-button");
      const closeNavButton = document.querySelector("#close-nav-button");
    
      invariant(header, "header should not be null");
      invariant(menu, "menu should not be null");
      invariant(openNavButton, "openNavButton should not be null");
      invariant(closeNavButton, "closeNavButton should not be null");
    
      const openMenu = () => {
        MicroModal.show(menuModalId, { disableScroll: true });
      };
    
      const closeMenu = () => {
        MicroModal.close(menuModalId);
      };
    
      openNavButton.addEventListener("click", openMenu);
      closeNavButton.addEventListener("click", closeMenu);
    
      document.addEventListener("scroll", () => {
        const d = page.clientHeight - page.scrollTop - header.offsetHeight;
        header.classList.toggle("fixed-header", d < 0);
      });
    
      menu.addEventListener("click", (event) => {
        if ((event.target as HTMLElement).tagName === "A") {
          closeMenu();
        }
      });
    </script>

      
  </body>
</html>

<style>
  .hidden-on-small-br {
    display: none;
  }

  /* Using media query to show it only on small screens (below 768px in this example) */
  @media screen and (max-width: 767px) {
    .hidden-on-small-br {
      display: block; /* Or inline, inline-block, flex, etc., depending on your layout needs */
    }
  }
</style>