---
// import "@fontsource-variable/inter";
// import "~/assets/js/script3";

import Propos from "~/components/propos.astro";
import Features from "~/components/features.astro";
import Footer2 from "~/components/footer3.astro";
import Header from "~/components/header.astro";
import Intro from "~/components/intro.astro";
import Map from "~/components/map2.astro";

import Beau from "~/components/plusbeau.astro";
import Portfolio from "~/components/portfolio.astro";
import Splash from "~/components/splash.astro";
import Contact from "~/components/contact.astro";
import Pricing from "~/components/Pricing.astro";
import About from "~/components/about.astro";
import Burger from "~/components/burger.astro";


import { getLangFromUrl } from '~/i18n/utils';
const lang = getLangFromUrl(Astro.url);

// import Booking from "~/components/squarebook.astro";
import "~/styles/index.css";

const { generator, site } = Astro;
const image = new URL("social.jpg", site);
const description =
  "Nous aidons les PME à prendre un virage électronique en modernisant leurs services et en automatisant leur processus. Nous créons votre présence digitale et modernisons vos procédés pour améliorer vos services.";
---

<!doctype html>
<html lang={lang} class="h-full motion-safe:scroll-smooth" data-theme="dark">
  <head>
    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-TPW94QBF');</script>
  <!-- End Google Tag Manager -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <meta name="generator" content={generator} />
    <!-- <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css'> -->

    <script  src="~/assets/js/burger.js"></script>
    <!-- <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script> -->
    <!-- <script src="~/assets/js/swiper.js"></script> -->
    <!-- <script src="~/assets/js/pricing.js"></script> -->
    


    <title>Agence ELR | Le Meilleur Allié Des PME</title>
    <meta name="description" content={description} />

    <!-- social media -->
    <meta property="og:title" content="Agence ELR" />
    <meta property="og:type" content="Consultants" />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />
    <meta property="og:url" content={site} />
    <meta name="twitter:card" content="summary_large_image" />

</head>
  <body class="h-full overflow-x-hidden bg-default text-default text-base selection:bg-secondary selection:text-white">
  
    <Header />
    <Splash />
    <section class="relative h-full">
      <div class="space-y-24 px-8 py-32">
        <Intro />
        
      </div>
      </section>
      <section class="hidden-on-small-br">
        <br><br><br><br><br><br><br><br>
      </section>
      <About />
      <Features />
      <br>
      <!-- <Cards /> -->
      <Propos />
      <!-- <Booking /> -->
      <Portfolio />
      </div>
      <!-- <Pricing /> -->
      <Map />

      <Footer2 />

      <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>


      <!-- <script src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/8.4.5/swiper-bundle.min.js'></script> -->
      <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script> -->
      <!-- <script src="~/assets/js/script3.js"></script> -->


      <!-- <script src="~/assets/js/script4.js"></script> -->

      
  </body>
</html>

<style>
  .hidden-on-small-br {
    display: none;
  }

  /* Using media query to show it only on small screens (below 768px in this example) */
  @media screen and (max-width: 767px) {
    .hidden-on-small-br {
      display: block; /* Or inline, inline-block, flex, etc., depending on your layout needs */
    }
  }
</style>