---
import testimony1 from '~/assets/testimonial-1.jpg';
import testimony2 from '~/assets/testimonial-2.jpg';
import testimony3 from '~/assets/testimonial-3.jpg';
import testimony4 from '~/assets/testimonial-4.jpg';

import Author1 from "~/assets/testimonials/author-01.png";
import Author2 from "~/assets/testimonials/author-02.png";
import Author3 from "~/assets/testimonials/author-03.png";

import { Picture } from "@astrojs/image/components";

const widths = [450, 800];
const sizes = "(min-width: 640px) 800px, 450px";
---
 <!-- ====== Testimonials Start ====== -->
 <section id="testimonials" class="pt-20 md:pt-[120px]">
	<div class="container px-4">
	  <div class="flex flex-wrap">
		<div class="mx-4 w-full">
		  <div class="mx-auto mb-[60px] max-w-[620px] text-center lg:mb-20">
			<span class="mb-2 block text-lg font-semibold text-primary">
			Témoignages
			</span>
			<h2
			  class="mb-4 text-3xl font-bold text-dark sm:text-4xl md:text-[42px]"
			>
			  Ce Qu'ils En Pensent
			</h2>
			<p
			  class="text-lg leading-relaxed text-body-color sm:text-xl sm:leading-relaxed"
			>
			  Nous sommes fiers de pouvoir changer la vie des entrepreneurs qui nous font confiance, voici ce qui nous motive réellement:
			</p>
		  </div>
		</div>
	  </div>

	  <div class="flex flex-wrap">
		<div class="w-full px-4 md:w-1/2 lg:w-1/3">
		  <div
			class="ud-single-testimonial wow fadeInUp mb-12 bg-black p-8 shadow-testimonial"
			data-wow-delay=".1s
			"
		  >
			<div class="ud-testimonial-ratings mb-3 flex items-center">
			  <span class="mr-1 text-[#fbb040]">
				<svg
				  width="18"
				  height="16"
				  viewBox="0 0 18 16"
				  class="fill-current"
				>
				  <path
					d="M9.09815 0.360596L11.1054 6.06493H17.601L12.3459 9.5904L14.3532 15.2947L9.09815 11.7693L3.84309 15.2947L5.85035 9.5904L0.595291 6.06493H7.0909L9.09815 0.360596Z"
				  />
				</svg>
			  </span>
			  <span class="mr-1 text-[#fbb040]">
				<svg
				  width="18"
				  height="16"
				  viewBox="0 0 18 16"
				  class="fill-current"
				>
				  <path
					d="M9.09815 0.360596L11.1054 6.06493H17.601L12.3459 9.5904L14.3532 15.2947L9.09815 11.7693L3.84309 15.2947L5.85035 9.5904L0.595291 6.06493H7.0909L9.09815 0.360596Z"
				  />
				</svg>
			  </span>
			  <span class="mr-1 text-[#fbb040]">
				<svg
				  width="18"
				  height="16"
				  viewBox="0 0 18 16"
				  class="fill-current"
				>
				  <path
					d="M9.09815 0.360596L11.1054 6.06493H17.601L12.3459 9.5904L14.3532 15.2947L9.09815 11.7693L3.84309 15.2947L5.85035 9.5904L0.595291 6.06493H7.0909L9.09815 0.360596Z"
				  />
				</svg>
			  </span>
			  <span class="mr-1 text-[#fbb040]">
				<svg
				  width="18"
				  height="16"
				  viewBox="0 0 18 16"
				  class="fill-current"
				>
				  <path
					d="M9.09815 0.360596L11.1054 6.06493H17.601L12.3459 9.5904L14.3532 15.2947L9.09815 11.7693L3.84309 15.2947L5.85035 9.5904L0.595291 6.06493H7.0909L9.09815 0.360596Z"
				  />
				</svg>
			  </span>
			  <span class="mr-1 text-[#fbb040]">
				<svg
				  width="18"
				  height="16"
				  viewBox="0 0 18 16"
				  class="fill-current"
				>
				  <path
					d="M9.09815 0.360596L11.1054 6.06493H17.601L12.3459 9.5904L14.3532 15.2947L9.09815 11.7693L3.84309 15.2947L5.85035 9.5904L0.595291 6.06493H7.0909L9.09815 0.360596Z"
				  />
				</svg>
			  </span>
			</div>
			<div class="ud-testimonial-content mb-6">
			  <p class="text-base tracking-wide text-body-color">
				“En tant que nouveau propriétaire d'un garage, le service et les options que j'ai reçues sont incroyable.
				Les autres compagnies voulaient me charger des milliers de dollars, Ed m'a réglé le tout pour une fraction du prix le plus proche !"
			  </p>
			</div>
			<div class="ud-testimonial-info flex items-center">
				<div
                class="ud-testimonial-image mr-5 h-[50px] w-[50px] overflow-hidden rounded-full"
              >
              <Picture
              class="h-full w-full object-cover urmom ontop-image relative z-10"
              src={Author1}
              srcset={`${Author1}`}
              widths={widths}
              sizes={sizes}
              loading="eager"
              alt="auteur 1"
          />
              </div>
			  <div class="ud-testimonial-meta">
				<h4 class="text-sm font-semibold">Martin Tremblay</h4>
				<p class="text-xs text-[#969696]">Diecteur @ Garage Lamothe</p>
			  </div>
			</div>
		  </div>
		</div>
		<div class="w-full px-4 md:w-1/2 lg:w-1/3">
		  <div
			class="ud-single-testimonial wow fadeInUp mb-12 bg-black p-8 shadow-testimonial"
			data-wow-delay=".15s
			"
		  >
			<div class="ud-testimonial-ratings mb-3 flex items-center">
			  <span class="mr-1 text-[#fbb040]">
				<svg
				  width="18"
				  height="16"
				  viewBox="0 0 18 16"
				  class="fill-current"
				>
				  <path
					d="M9.09815 0.360596L11.1054 6.06493H17.601L12.3459 9.5904L14.3532 15.2947L9.09815 11.7693L3.84309 15.2947L5.85035 9.5904L0.595291 6.06493H7.0909L9.09815 0.360596Z"
				  />
				</svg>
			  </span>
			  <span class="mr-1 text-[#fbb040]">
				<svg
				  width="18"
				  height="16"
				  viewBox="0 0 18 16"
				  class="fill-current"
				>
				  <path
					d="M9.09815 0.360596L11.1054 6.06493H17.601L12.3459 9.5904L14.3532 15.2947L9.09815 11.7693L3.84309 15.2947L5.85035 9.5904L0.595291 6.06493H7.0909L9.09815 0.360596Z"
				  />
				</svg>
			  </span>
			  <span class="mr-1 text-[#fbb040]">
				<svg
				  width="18"
				  height="16"
				  viewBox="0 0 18 16"
				  class="fill-current"
				>
				  <path
					d="M9.09815 0.360596L11.1054 6.06493H17.601L12.3459 9.5904L14.3532 15.2947L9.09815 11.7693L3.84309 15.2947L5.85035 9.5904L0.595291 6.06493H7.0909L9.09815 0.360596Z"
				  />
				</svg>
			  </span>
			  <span class="mr-1 text-[#fbb040]">
				<svg
				  width="18"
				  height="16"
				  viewBox="0 0 18 16"
				  class="fill-current"
				>
				  <path
					d="M9.09815 0.360596L11.1054 6.06493H17.601L12.3459 9.5904L14.3532 15.2947L9.09815 11.7693L3.84309 15.2947L5.85035 9.5904L0.595291 6.06493H7.0909L9.09815 0.360596Z"
				  />
				</svg>
			  </span>
			  <span class="mr-1 text-[#fbb040]">
				<svg
				  width="18"
				  height="16"
				  viewBox="0 0 18 16"
				  class="fill-current"
				>
				  <path
					d="M9.09815 0.360596L11.1054 6.06493H17.601L12.3459 9.5904L14.3532 15.2947L9.09815 11.7693L3.84309 15.2947L5.85035 9.5904L0.595291 6.06493H7.0909L9.09815 0.360596Z"
				  />
				</svg>
			  </span>
			</div>
			<div class="ud-testimonial-content mb-6">
			  <p class="text-base tracking-wide text-body-color">
				“Ed est incroyable pour trouver des solutions toujours plus innovatives pour
				chacun des problèmes que nous avons rencontrés lors de notre lancement, je vous confirme que vous ne serez pas décue de faire affaire avec lui !"
			  </p>
			</div>
			<div class="ud-testimonial-info flex items-center">
			  <div
				class="ud-testimonial-image mr-5 h-[50px] w-[50px] overflow-hidden rounded-full"
			  >
			  <Picture
			  src={Author2}
			  srcset={`${Author2}`}
			  widths={widths}
			  sizes={sizes}
			  loading="eager"
			  alt="auteur 3"
		  />
	  </div>
			  <div class="ud-testimonial-meta">
				<h4 class="text-sm font-semibold">Jonathan Berger</h4>
				<p class="text-xs text-[#969696]">Fondateur @ Xcluniversity</p>
			  </div>
			</div>
		  </div>
		</div>
		<div class="w-full px-4 md:w-1/2 lg:w-1/3">
		  <div
			class="ud-single-testimonial wow fadeInUp mb-12 bg-black p-8 shadow-testimonial"
			data-wow-delay=".2s
			"
		  >
			<div class="ud-testimonial-ratings mb-3 flex items-center">
			  <span class="mr-1 text-[#fbb040]">
				<svg
				  width="18"
				  height="16"
				  viewBox="0 0 18 16"
				  class="fill-current"
				>
				  <path
					d="M9.09815 0.360596L11.1054 6.06493H17.601L12.3459 9.5904L14.3532 15.2947L9.09815 11.7693L3.84309 15.2947L5.85035 9.5904L0.595291 6.06493H7.0909L9.09815 0.360596Z"
				  />
				</svg>
			  </span>
			  <span class="mr-1 text-[#fbb040]">
				<svg
				  width="18"
				  height="16"
				  viewBox="0 0 18 16"
				  class="fill-current"
				>
				  <path
					d="M9.09815 0.360596L11.1054 6.06493H17.601L12.3459 9.5904L14.3532 15.2947L9.09815 11.7693L3.84309 15.2947L5.85035 9.5904L0.595291 6.06493H7.0909L9.09815 0.360596Z"
				  />
				</svg>
			  </span>
			  <span class="mr-1 text-[#fbb040]">
				<svg
				  width="18"
				  height="16"
				  viewBox="0 0 18 16"
				  class="fill-current"
				>
				  <path
					d="M9.09815 0.360596L11.1054 6.06493H17.601L12.3459 9.5904L14.3532 15.2947L9.09815 11.7693L3.84309 15.2947L5.85035 9.5904L0.595291 6.06493H7.0909L9.09815 0.360596Z"
				  />
				</svg>
			  </span>
			  <span class="mr-1 text-[#fbb040]">
				<svg
				  width="18"
				  height="16"
				  viewBox="0 0 18 16"
				  class="fill-current"
				>
				  <path
					d="M9.09815 0.360596L11.1054 6.06493H17.601L12.3459 9.5904L14.3532 15.2947L9.09815 11.7693L3.84309 15.2947L5.85035 9.5904L0.595291 6.06493H7.0909L9.09815 0.360596Z"
				  />
				</svg>
			  </span>
			  <span class="mr-1 text-[#fbb040]">
				<svg
				  width="18"
				  height="16"
				  viewBox="0 0 18 16"
				  class="fill-current"
				>
				  <path
					d="M9.09815 0.360596L11.1054 6.06493H17.601L12.3459 9.5904L14.3532 15.2947L9.09815 11.7693L3.84309 15.2947L5.85035 9.5904L0.595291 6.06493H7.0909L9.09815 0.360596Z"
				  />
				</svg>
			  </span>
			</div>
			<div class="ud-testimonial-content mb-6">
			  <p class="text-base tracking-wide text-body-color">
				“Si vous recherchez une agence web pour vous faire un site web super beau, rapide et fonctionnel à bon prix, L'Agence ELR est pour vous.
				En une semaine seulement, mes clients prenaient leur rendez-vous sur mon nouveau site!"
			</div>
			<div class="ud-testimonial-info flex items-center">
			  <div
				class="ud-testimonial-image mr-5 h-[50px] w-[50px] overflow-hidden rounded-full"
			  >
			  <Picture
			  src={Author3}
			  srcset={`${Author3}`}
			  widths={widths}
			  sizes={sizes}
			  loading="eager"
			  alt="auteur 3"
		  />
			  </div>
			  <div class="ud-testimonial-meta">
				<h4 class="text-sm font-semibold">Mario Tariepy</h4>
				<p class="text-xs text-[#969696]">Directeur @ MassoExpert</p>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	  <!-- <div class="flex flex-wrap">
		<div class="mx-4 w-full">
		  <div class="wow fadeInUp" data-wow-delay=".2s">
			<div class="ud-title mb-8">
			  <h6
				class="relative inline-flex items-center text-xs font-normal text-body-color"
			  >
				Some Of Our Clients
				<span class="ml-4 inline-block h-[1px] w-8 bg-[#afb2b5]">
				</span>
			  </h6>
			</div>
			<div class="ud-brands-logo flex flex-wrap items-center">
			  <div class="ud-single-logo mr-10 mb-5 max-w-[140px]">
				<a
				  href="https://tailgrids.com"
				  target="_blank"
				  rel="nofollow noopner"
				>
				  <img
					src="assets/images/brands/tailgrids.svg"
					alt="tailgrids"
					class="grayscale duration-300 hover:filter-none"
				  />
				</a>
			  </div>
			  <div class="ud-single-logo mr-10 mb-5 max-w-[140px]">
				<a
				  href="https://ayroui.com"
				  target="_blank"
				  rel="nofollow noopner"
				>
				  <img
					src="assets/images/brands/ayroui.svg"
					alt="ayroui"
					class="grayscale duration-300 hover:filter-none"
				  />
				</a>
			  </div>
			  <div class="ud-single-logo mr-10 mb-5 max-w-[140px]">
				<a
				  href="https://uideck.com"
				  target="_blank"
				  rel="nofollow noopner"
				>
				  <img
					src="assets/images/brands/uideck.svg"
					alt="uideck"
					class="grayscale duration-300 hover:filter-none"
				  />
				</a>
			  </div>
			  <div class="ud-single-logo mr-10 mb-5 max-w-[140px]">
				<a
				  href="https://graygrids.com"
				  target="_blank"
				  rel="nofollow noopner"
				>
				  <img
					src="assets/images/brands/graygrids.svg"
					alt="graygrids"
					class="grayscale duration-300 hover:filter-none"
				  />
				</a>
			  </div>
			  <div class="ud-single-logo mr-10 mb-5 max-w-[140px]">
				<a
				  href="https://lineicons.com"
				  target="_blank"
				  rel="nofollow noopner"
				>
				  <img
					src="assets/images/brands/lineicons.svg"
					alt="lineicons"
					class="grayscale duration-300 hover:filter-none"
				  />
				</a>
			  </div>
			</div>
		  </div>
		</div> -->
	  </div>
	</div>
  </section>
  <!-- ====== Testimonials End ====== -->

			<style>
				/*** Testimonial ***/
.testimonial-carousel .owl-item .testimonial-text,
.testimonial-carousel .owl-item.center .testimonial-text * {
    transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-text {
    background: var(--primary) !important;
}

.testimonial-carousel .owl-item.center .testimonial-text * {
    color: #FFFFFF !important;
}

.testimonial-carousel .owl-dots {
    margin-top: 24px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    border: 1px solid #CCCCCC;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    background: var(--primary);
    border-color: var(--primary);
}

			</style>